doc/Microarray/affy_help_pages/Affy_help/Affy_help_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Twana Johnson (Institute for Systems Biology) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="all_steps">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="step" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="all_summaries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="summary" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="code" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="entry" type="xs:string"/>
	<xs:element name="extra_data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="link_info" minOccurs="0"/>
				<xs:element ref="image" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="data_type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="image"/>
						<xs:enumeration value="link"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="help_document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="overview"/>
				<xs:element ref="all_summaries"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="image">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="map_info" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="map">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="area" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="shape" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="rect"/>
															<xs:enumeration value="circle"/>
															<xs:enumeration value="poly"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="coords" type="xs:string" use="required"/>
												<xs:attribute name="href" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="width" type="xs:short"/>
			<xs:attribute name="height" type="xs:short"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="internal_help"/>
						<xs:enumeration value="external"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="src" type="xs:string" use="required"/>
			<xs:attribute name="usemap_name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="link_info">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="href">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="type" use="required">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="external_link"/>
								<xs:enumeration value="sbeams_page"/>
								<xs:enumeration value="internal_help"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="overview" type="xs:string"/>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="step">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="code"/>
				<xs:element ref="link_info"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="summary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="description"/>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="all_steps" minOccurs="0"/>
					<xs:element ref="table_info" minOccurs="0"/>
					<xs:element ref="extra_data" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="table_info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="section" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
